@if (header) {
  <div class="header" [ngClass]="{'transparent': transparent}">
    <span class="logo" routerLink="/">Streamscape</span>
    @if (user) {
      <div class="flex-container">
        <input type="text" class="search" placeholder="Pesquisar">
        <div class="icon">
          <i class="fa-regular fa-bell"></i>
        </div>
        <div class="icon">
          <i class="fa-regular fa-bookmark"></i>
        </div>
        <div class="icon avatar" (click)="toggle()"></div>
      </div>
    }
  </div>
  @if (visible) {
    <div class="menu-overlay" (click)="close($event)">
      <div class="menu" (click)="$event.stopPropagation()">
        <span class="option">Configurações</span>
        <span class="option">Conta</span>
        <span class="option" (click)="logout()">Sair</span>
      </div>
    </div>
  }
}