.header {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #1a1a1a;
}

.logo {
    font-family: "Righteous", sans-serif;
    font-size: 30px;
    color: #fff;
}

.enter-btn {
    background-color: #fff;
    color: #000;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;
}

.enter-btn:hover {
    background-color: #e6e6e6;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    cursor: pointer;
}

.profile-picture {
    background-color: #fff;
    border-radius: 50px;
    width:  34.40px;
    height: 34.40px;
}