@if (message) {
  <div class="alert alert-info fade-in-out">
    {{ message }}
  </div>
}
<div class="wrapper">
  <div class="hero">
    <div class="background-image" [ngStyle]="{'background-image': 'url(' + item?.thumbnail + ')'}"></div>
    <div class="gradient-overlay"></div>
    <div class="content">
      @if (item) {
        <div class="details">
          <h1 class="name">{{ item.name }}</h1>
          <p class="release">{{ item.release }}</p>
          <div class="options">
            <button class="button" (click)="play(item.episodes[0].id)">Assistir agora</button>
            @if (user) {
              <button class="button" (click)="addToMyList(user.id, item.id)">Minha lista</button>
            }
          </div>
          <p class="description">{{ item.description }}</p>
          @for (genre of item.genres; track $index) {
            <p>{{ genre.type }}</p>
          }
        </div>
      }
    </div>
  </div>
</div>