input,
button {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    appearance: none;
    border: none;
    outline: none;
}

.container {
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message-container {
    
}

.bar {
    border-bottom: 1px solid #1a1a1a;
    margin: 10px 0 10px 0;
}

.message-header {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 600;
}

.message {
    color: #fff;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-control {
    max-width: 512px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 15px 20px;
    font-size: 16px;
    width: 100%;
    border-radius: 50px;
}

.error-message {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #EF233C;
    font-size: 12px;
    margin-left: 20px;
}

.error {
    font-size: 14px;
}

.form-control::placeholder {
    font-weight: 500;
}

.btn {
    background-color: #fff;
    color: #000;
    font-weight: 500;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 50px;
    width: 512px;
    cursor: pointer;
}