.btn {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    padding: 15px 20px;
    width: 100%;
}

.btn:hover {
    background-color: #eee;
}

.centralize {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.error-message {
    color: #EF233C;
    padding-left: 20px;
    text-align: left;
}

.form-control {
    background-color: rgba($color: #fff, $alpha: 0.1);
    border: none;
    border-radius: 100px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 500;
    outline: none;
    padding: 15px 20px;
    width: 100%;
}

.login-container {
    height: auto;
    text-align: center;
    width: 512px;
    font-size: 18px;
}

.login-container > h1 {
    font-size: 48px;
}

.login-container > h5 {
    font-size: 18px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redirect {
    cursor: pointer;
}

.redirect:hover {
    text-decoration: underline;
}