<div class="container">
  <div class="message-container">
    <div class="message message-header">Criar conta</div>
    <div class="message">Preencha o formulário abaixo para criar sua nova conta.</div>
  </div>
  <div class="bar"></div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input 
        class="form-control"
        type="text" 
        placeholder="Nome"
        name="nome"
        [(ngModel)]="request.nome"
      />
    </div>
    <div *ngIf="errors.Nome" class="error-message">
      <span class="material-symbols-outlined error">error</span>
      {{ errors.Nome }}
    </div>
    <div class="form-group">
      <input 
        class="form-control"
        type="text" 
        placeholder="Sobrenome"
        name="sobrenome"
        [(ngModel)]="request.sobrenome"
      />
    </div>
    <div *ngIf="errors.Sobrenome" class="error-message">
      <span class="material-symbols-outlined error">error</span>
      {{ errors.Sobrenome }}
    </div>
    <div class="form-group">
      <input 
        class="form-control"
        type="text" 
        placeholder="Nome de usuário"
        name="username"
        [(ngModel)]="request.username"
      />
    </div>
    <div *ngIf="errors.Username" class="error-message">
      <span class="material-symbols-outlined error">error</span>
      {{ errors.Username }}
    </div>
    <div class="form-group">
      <input 
        class="form-control"
        type="email" 
        placeholder="Email"
        name="email"
        [(ngModel)]="request.email"
      />
    </div>
    <div *ngIf="errors.Email" class="error-message">
      <span class="material-symbols-outlined error">error</span>
      {{ errors.Email }}
    </div>
    <div class="form-group">
      <input 
        class="form-control"
        type="password" 
        placeholder="Senha"
        name="senha"
        [(ngModel)]="request.senha"
      />
    </div>
    <div *ngIf="errors.Senha" class="error-message">
      <span class="material-symbols-outlined error">error</span>
      {{ errors.Senha }}
    </div>
    <div class="form-group">
      <button type="submit" class="btn">Criar conta</button>
    </div>
  </form>
</div>