.wrapper {
    font-family: 'Inter', sans-serif;
    color: #fff;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
}

.heading {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
}

.account-details-wrapper,
.fa-pen,
.flex-container {
    display: flex;
}

.account-details-wrapper {
    flex-direction: column;
    gap: 10px;
}

.account-details {
    padding: 20px;
    background-color: #0d0d0d;
    color: #fff;
    border-radius: 10px;
}

.account-details:hover {
    background-color: #1a1a1a;
}

.label {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.fa-pen {
    justify-content: center;
    align-items: center;
    width:  20px;
    height: 20px;
    cursor: pointer;
}

.flex-container {
    justify-content: space-between;
}

.value {
    font-size: 14px;
}