<div class="icon">
  <a href="https://www.instagram.com/wrbcrv_" target="_blank" class="flex-container">
    <i class="fa-brands fa-instagram fa-lg"></i>
    <span>/</span>
    <span>wrbcrv_</span>
  </a>
  <a href="https://github.com/wrbcrv" target="_blank" class="flex-container">
    <i class="fa-brands fa-github fa-lg"></i>
    <span>/</span>
    <span>wrbcrv</span>
  </a>
  <div class="dot">&#x2022;</div>
  <a href="https://www.instagram.com/riobelo.g/" target="_blank" class="flex-container">
    <i class="fa-brands fa-instagram fa-lg"></i>
    <span>/</span>
    <span>riobelo.g</span>
  </a>
  <a href="https://github.com/GuilhermeRioBel02" target="_blank" class="flex-container">
    <i class="fa-brands fa-github fa-lg"></i>
    <span>/</span>
    <span>GuilhermeRioBel02</span>
  </a>
</div>
<div class="text">Projeto desenvolvido na disciplina Tópicos em Programação III, 2024.1</div>