@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.alert {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 10px;

    &.alert-info {
        color: #000;
        background-color: #fff;
    }

    &.fade-in-out {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    &.fade-in-out.ng-hide {
        opacity: 0;
    }
}

.wrapper {
    width: 100%;
}

.hero {
    font-family: "Roboto Condensed", sans-serif;
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    font-size: 18px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 135%;
    background-color: rgba(255, 255, 255, 0.25);
    background-size: cover;
    background-position: center;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(farthest-side at 73% 21%, transparent, rgb(0, 0, 0));

}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    color: #fff;
    width: 50%;
    margin-left: 50px;
}

.name {
    font-size: 48px;
    margin: 18px 0 18px 0;
}

.release {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dot {
    background-color: #fff;
    border-radius: 50px;
    width:  3px;
    height: 3px;
}

.options {
    display: flex;
    gap: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 10px;
    width: 400px;
    padding: 20px 40px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

.my-list {
    width: fit-content;
    padding: 20px;
}

.button:hover {
    background: rgba($color: #fff, $alpha: 0.8);
}