<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-8 font-medium">
  <div class="mb-16">
    <div class="text-white mb-2.5 text-4xl font-semibold text-center">Entrar</div>
    <div class="text-white text-center">Digite o endereço de e-mail e a senha da sua conta.</div>
  </div>
  <form class="flex flex-col gap-3 w-[512px]" (submit)="login()">
    <div>
      <input 
        class="bg-neutral-900 text-white py-4 px-6 text-base w-full rounded-full outline-none placeholder:text-neutral-500" 
        placeholder="Endereço de e-mail"
        type="email" 
        id="email" 
        name="email" 
        [(ngModel)]="request.email"
      />
      </div>
    <div class="flex items-center gap-1 text-red-600 text-xs ml-6" *ngIf="errors.Email">
      <span class="material-symbols-outlined text-sm">error</span>
      {{ errors.Email }}
    </div>
    <div>
      <div class="flex items-center relative text-white">
        <input 
          class="bg-neutral-900 text-white py-4 px-6 text-base w-full rounded-full border-right placeholder:text-neutral-500" 
          placeholder="Senha"
          type="{{ showPassword ? 'text' : 'password' }}"
          id="senha" 
          name="senha" 
          [(ngModel)]="request.senha"
        />
        <span class="material-symbols-outlined absolute right-6 cursor-pointer" (click)="togglePasswordVisibility()">
          {{ showPassword ? 'visibility_off' : 'visibility' }}
        </span>
      </div>
    </div>
    <div class="flex items-center gap-1 text-red-600 text-xs ml-6" *ngIf="errors.Senha">
      <span class="material-symbols-outlined text-sm">error</span>
      {{ errors.Senha }}
    </div>
    <button type="submit" class="text-black bg-white hover:bg-neutral-300 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-base py-4 px-6">Entrar</button>
    <span class="text-white text-sm self-center">
      Não tem uma conta? 
      <span class="hover:underline cursor-pointer" routerLink="/register">Cadastre-se</span>
    </span>
  </form>
</div>