<div *ngIf="error">{{ error }}</div>
<div class="container">
  <div class="message-container">
    <div class="message message-header">Entrar</div>
    <div class="message">Digite o endereço de e-mail e a senha da sua conta.</div>
  </div>
  <form class="login-form" (submit)="login()">
    <div class="form-group">
      <input 
        class="form-control" 
        placeholder="Endereço de e-mail"
        type="email" 
        id="email" 
        name="email" 
        [(ngModel)]="request.email"
      />
      </div>
    <div class="error-message" *ngIf="errors['Email']">
      <span class="material-symbols-outlined error">error</span>
      {{ errors['Email'] || errors }}
    </div>
    <div class="form-group">
      <div class="form-group flex-container">
        <input 
          class="form-control border-right" 
          placeholder="Senha"
          type="{{showPassword ? 'text' : 'password'}}"
          id="senha" 
          name="senha" 
          [(ngModel)]="request.senha"
        />
        <span class="material-symbols-outlined show-password" (click)="togglePasswordVisibility()">
          {{ showPassword ? 'visibility_off' : 'visibility' }}
        </span>
      </div>
    </div>
    <div class="error-message" *ngIf="errors['Senha']">
      <span class="material-symbols-outlined error">error</span>
      {{ errors['Senha'] }}
    </div>
    <button class="btn btn-primary" type="submit">Entrar</button>
    <span class="paragraph-component">
      Não tem uma conta? 
      <span class="underline" routerLink="/register">Cadastre-se</span>
    </span>
  </form>
</div>