@if (user?.myList?.length !== 0) {
  <div class="wrapper">
    <div class="container">
      <h1>Minha lista</h1>
        <div class="grid-container">
          @for (item of user?.myList; track $index) {
          <div class="grid-item">
            <div class="image-container">
              <img [src]="item.thumbnail" class="thumbnail" alt="{{ item.name }}" routerLink="/watch/{{ item.id }}">
              <div class="remove-button" (click)="removeItem(item)" title="Remover">
                <img src="../../../../assets/icons/close_20dp.svg">
              </div>
            </div>
            <span class="name">{{ item.name }}</span>
          </div>
          }
        </div>
    </div>
  </div>
}
@else {
  <div class="empty-message">
    <h1>Nenhum título salvo</h1>
    <p>Selecionar para adicionar filmes, séries e muito mais à Minha lista. Depois, assista aqui em todos os seus dispositivos.</p>
  </div>
}